* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.game-container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.fruit {
    width: 30px;
    position: absolute;
    cursor: pointer;
}